Checks: '*,-abseil-*,-altera-*,-android-*,-boost-*,-darwin-*,-fuchsia-*,-hicpp-special-member-functions,-llvmlibc-*,-llvm-header-guard,-llvm-prefer-static-over-anonymous-namespace,-mpi-*,-objc-*,-openmp-*'
ExcludeHeaderFilterRegex: 'external/.*'
HeaderFilterRegex: '.*'
WarningsAsErrors: '*'
CheckOptions:
    cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: 'true'
