Checks: '*,-abseil-*,-altera-*,-android-*,-boost-*,-darwin-*,-fuchsia-*,-hicpp-special-member-functions,-llvmlibc-*,-llvm-header-guard,-llvm-prefer-static-over-anonymous-namespace,-mpi-*,-objc-*,-openmp-*'
ExcludeHeaderFilterRegex: 'external/.*,build/.*'
HeaderFilterRegex: '.*'
WarningsAsErrors: '*'
CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: 'true'
  - key: misc-include-cleaner.IgnoreHeaders
    value: '.*gl_includes\.hpp'

