---
Language : Cpp
BreakBeforeBraces : Allman
UseTab : Never
IndentWidth : 4
SortIncludes : 
  Enabled : true
  IgnoreCase : true
  IgnoreExtension : true
SortUsingDeclarations : LexicographicNumeric
SpaceBeforeParens : NonEmptyParentheses
BreakBeforeCloseBracketFunction : true
SeparateDefinitionBlocks : Always
AlignAfterOpenBracket : false
BinPackParameters : AlwaysOnePerLine
...
